.Button {
    padding: 0.5rem;
    font-weight: bold;
    color: var(--secondaryColor);
    font-size: 1rem;
    background-color: none;
    margin: 1rem;
    border: none;
}

.Number {
    padding: 0.5rem;
    font-weight: bold;
    color: var(--textColor);
    font-size: 2rem;
    background-color: none;
    margin: 1rem;
}